# Dependency directories
node_modules/

# Next.js build output and cache
.next/
out/

# Environment variables
.env*.local
.env.development.local
.env.production.local
.env.test.local

# IDE-specific files (e.g., VS Code)
.vscode/

# Test coverage reports
coverage/

# Mac stuff
.DS_Store

.swc/